/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*animation class*/
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 3%;
  }
}

@keyframes up {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 3%;
  }
}

/*animation class*/
.appear {
  -webkit-animation: appear 200ms;
  animation: appear 200ms;
}

.up {
  -webkit-animation: up 200ms;
  animation: up 200ms;
}
