/*animation class*/
@keyframes appear{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

@keyframes up{
    from{
        margin-top: 100%;
    }

    to{
        margin-top: 3%;
    }
}



/*animation class*/
.appear{
    animation: appear 200ms;
}

.up{
    animation: up 200ms;
}
